.closetpage-container {
  width: 90vw;
  height: 90vh;
  margin: 150px auto 0px;
}

.closetpage-btn-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  gap: 20px;
}

.closetpage-btn {
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: var(--white);
  padding: .5em 1.25em;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-family: var(--ff-spartan);
}

.closetpage-btn:hover {
    border: 1px solid var(--black);
}

.closetpage-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(180px, 1fr));
}