:root {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
