:root {
  --black: #0f0f0f;
  --lightblack:#454545;
  --green: #b8e32d;
  --purple:#e90ab5;
  --white: #fafafa;
  --ff-spartan:"League Spartan", sans-serif;
  --ff-rock: "Rock Salt", cursive;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#root{
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:  "header" 
                        "main" 
                        "footer";
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

}

header {
  grid-area: header;
  width: 100vw;
  height: 100%;
}

main {
  grid-area: main;
  width: 100vw;
  height: 100%;
}

footer {
  grid-area: footer;
  width: 100vw;
  height: 100%;
}
