:root {
  --black: #0f0f0f;
  --lightblack:#454545;
  --green: #b8e32d;
/*   --green: #b9d851; */
  --purple:#e90ab5;
  --white: #fafafa;
  --ff-spartan:"League Spartan", sans-serif;
  --ff-rock: "Rock Salt", cursive;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-family: var(--ff-spartan);
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;

}

#root{
/*   display: grid;
  grid-template-rows: 6.5rem 1fr 6.5rem;
  grid-template-areas:  "header" 
                        "main" 
                        "footer";
  justify-content: space-between; */
  width: 100vw;
  min-height: calc(100vh - 100px);
}

header {
/*   grid-area: header; */
  width: 100vw;
  height: 100px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--white);
}

main {
  /* grid-area: main; */
  width: 100vw;
  min-height: calc(100vh - 180px);
  margin-top: 100px;
}

footer {
  /* grid-area: footer; */
  width: 100vw;
  height: 80px;
}
