.card_img{
    height: auto;
    width:8vw;
    background-color: aqua;
    border: solid var(--lightblack) 1px;
    position: relative;
    margin: auto;
   
  }

  .card_img img{
    width:8vw
    
  }
.btn-clothing{
  height: 2.4em;
  width: 6em;
  padding: auto;
  position: absolute;
  bottom: 20px;
  left: 92px;
  background-color:var(--green)
  
  
}


