.card_img{
    height: auto;
    width:11vw;
    background-color: aqua;
    border: solid var(--lightblack) 1px;
    position: relative;
    margin: auto;
   
  }

  .card_img img{
    width:11vw
    
  }
.btn-clothing{
  height: 2.4em;
  width: 6em;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 80px;
  background-color:var(--green)
  
}