.favourite-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 576px);
    width: 90vw;
    min-height: calc(100vh - 240px);
    margin: 150px auto 0px;
    justify-content: center;
    gap: 1px;
}

.favourite-outfit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--lightblack);
    margin: 0 auto;
}

.clothing-item-image-jumpers {
    position: absolute;
    width: auto;
    height: 63%;
    top: -20px;
    left: 20px;
    z-index: 1;
}

.clothing-item-image-upperparts {
    position: absolute;
    width: auto;
    height: 63%;
    top: -20px;
    left: 140px;
    z-index: 2;
}

.clothing-item-image-downparts {
    position: absolute;
    width: auto;
    height: 67%;
    top: 180px;
    z-index: 3;
}

.clothing-item-image-shoes {
    position: absolute;
    width: auto;
    height: 27%;
    top: 420px;
    left: 70px;
    z-index: 4;
}

.favourite-outfit-container svg {
    z-index: 10;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.favourite-outfit-container svg:hover {
    color: red;
}