.one, .two, .three, .four {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.container-scroll-animation {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-padding: 100px;
}

.one {
  background-color: lightblue;
}

.two {
  background-color: lightcoral;
}

.three {
  background-color: lightgoldenrodyellow;
}

.four {
  background-color: lightgreen;
}