.Pagina-trending{
  border:1px solid black;
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;

}.img-card1 {

    width: 100%;
    overflow: hidden;

  }

  .img-card1 img {
    border:1px solid black;
    width: 100%;
    object-fit: cover;



  }
  

